.App {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
form{
  background-color: aliceblue;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px
  lightblue;
}
button:hover{
  background-color:white;
  cursor: pointer;
  
}